
@using ThueTro.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<ThueTro.Models.NhaTro>

@helper Truncate(string input, int length)
{
    if (input.Length < length)
    {
        @input
    }
    else
    {
        @input.Substring(0, length)<text>...</text>
    }
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary" style="width:100%">
    <div class="panel-heading">
        <span style="font-size: 30px; font-style:oblique"><span style="font-size:larger;"><span style="margin-right: 5px" class="glyphicon glyphicon-star"></span>Quản lý nhà trọ</span></span>
    </div>
</div>
<p>
    @*@Html.ActionLink("Đăng tin", "Create")*@
    <button type="button" style="margin:3px; width:32.8%" class="btn btn-success col-lg-3 col-xs-3" onclick="location.href='@Url.Action("Create", "NhaTro")';return false;"><span style="font-size:larger;"><span style="margin-right: 5px" class="glyphicon glyphicon-plus"></span>Đăng tin</span></button>
</p>
<br />
<br />
<br />
<h4>Tổng số nhà trọ hiện có: @ViewBag.total</h4>
<table class="table" border="1">
    <tr>
    </tr>
    <tr>
        <th style="width:5%; max-width: 100%; font-weight:bolder">STT</th>
        <th style="width:11%; max-width: 100%; font-weight:bolder">Tên đường</th>
        <th style="width:5%; max-width: 100%; font-weight:bolder">Diện tích</th>
        <th style="width:5%; max-width: 100%; font-weight:bolder">Tên chủ nhà</th>
        <th style="width:8%; max-width: 100%; font-weight:bolder">SDT liên hệ</th>
        <th style="width:16%; max-width: 100%; font-weight:bolder">Chi tiết nhà</th>
        <th style="width:16%; max-width: 100%; font-weight:bolder">Giới thiệu</th>
        <th style="width:5%; max-width: 100%; font-weight:bolder">Giá</th>
        <th style="width:14%; max-width: 100%; font-weight:bolder">Ảnh</th>
        <th style="width:5%; max-width: 100%; font-weight:bolder">Quận</th>
        <th style="width:10%; max-width: 100%; font-weight:bolder">Chức năng</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenduong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienTich)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenChuNha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SDT)
            </td>
            <td>
                @Truncate(item.CTNha, 70)
            </td>
            <td>
                @Truncate(item.GioiThieu, 70)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                <img src="@Url.Content("~/Content/HinhAnh/" + item.image)" style="height:150px; width:150px;" />
                @*<img src="@Url.Content(Model.image)" style="height:150px; width:150px; margin:10px;"/>*@
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaDiemIdQuan)
            </td>
            <td>
                <button style="width: 95px" type="button" class="btn btn-warning" onclick="location.href = '@Url.Action("Edit", "NhaTro", new { id = item.IDNha })';return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-pencil"></span>Sửa</button>
                --------------------
                <br />
                <button style="width: 95px" type="button" class="btn btn-info" onclick="location.href = '@Url.Action("Details", "NhaTro", new { id = item.IDNha })';return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-align-justify"></span>Chi tiết</button>
                --------------------
                <br />
                <button style="width: 95px" type="button" class="btn btn-danger" onclick="location.href = '@Url.Action("Delete", "NhaTro", new { id = item.IDNha })' ;return false;"><span style="margin-right: 5px" class="glyphicon glyphicon-trash"></span>Xóa</button>
            </td>
        </tr>
    }
</table>
@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount*@
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>   